<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--3.尚硅谷_MyBatis_HelloWorld 16:56-->
<!--namespace：名称空间，可以随便起一个名-->
<!--4.尚硅谷_MyBatis_接口式编程 02:20-->
<!--用以将接口与此配置文件进行绑定，namespace为相应接口的全类名-->
<mapper namespace="com.mybatis.bean.ReaderMapper">

    <!--id：唯一标识，和项目相关方法中将要执行调用的名字保持一致-->
    <!--resultType：返回值类型-->
    <!--#{id}：从传递进来的参数中获取id值-->

    <!--将id内容更换成接口的方法名，使得select成为相关接口方法的实现-->
    <select id="selectReader" resultType="com.mybatis.bean.Reader">
 select * from reader where id = #{id}
 </select>
    <!--4.尚硅谷_MyBatis_接口式编程 03:30-->
    <!--不仅是配置文件和接口绑定，id和接口的相关方法名一致
    public Reader getReaderById(Integer id);
    将相关方法也绑定-->
    <select id="getReaderById" resultType="com.mybatis.bean.Reader">
 select * from reader where id = #{id}
 </select>

</mapper>
